body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px 50px;
    background-color: #ececed;
}

h1,
h2 {
    margin: 0;
}

h2 {
    padding-bottom: 24px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.display {
    font-family: "Courier New", Courier, monospace;
    word-break: break-all;
    background-color: #1f1e1e;
    font-size: 48px;
    text-align: right;
    color: white;
    width: 312px;
    padding: 48px 8px 0 0;
}

button {
    border: 1px solid black;
    font-size: 36px;
    height: 80px;
    cursor: pointer;
    padding: 16px 24px;
    background-color: #d8d9db;
}

.clear {
    width: 160px;
}

.backspace {
    width: 80px;
    font-size: 30px;
}

.operator,
.result {
    width: 80px;
    background-color: #df974c;
    color: white;
}

.number {
    width: 80px;
}

#zero {
    width: 240px;
}

.number:hover,
.clear:hover,
.backspace:hover {
    background-color: #ebebeb;
}

.number:active,
.clear:active,
.backspace:active {
    background-color: #b1afaf;
}

.operator:hover,
.result:hover {
    background-color: #e2a463;
}

.operator:active,
.result:active {
    background-color: #8e5e2c;
}

footer {
    margin: 50px 0 10px;
    color: #1f1e1e;
}

a {
    color: #1f1e1e;
    padding-right: 7px;
}

a:hover {
    color: #373737;
}

a:active {
    color: #6e6d6d
}